<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.island.myblog.mapper.PvMapper">

    <select id="listPageViews" resultType="com.island.myblog.common.dto.PageViewDTO">
        SELECT

            DATE_FORMAT( create_time, "%Y-%m-%d" ) as `day`,
            views_count
        FROM
            vueblog2.pv
        WHERE
            create_time &gt; #{startTime}
          AND create_time &lt;=  #{endTime}
        ORDER BY
            create_time
    </select>

</mapper>
